h1 {
  margin: 40px 0;
  text-align: center;
}

.add-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 920px;
  border: 1px solid #02298d;
  border-radius: 5px;
}
.add-form input{
  font-size: 18px;
  padding: 10px 5px;
  background: white;
  border-radius: 9px;
  width: 250px;
  outline: none;
  margin-left: 15px;
  margin-right: 5px;
  text-shadow: none;
  color: black;
  border: 1px solid #64acf3;
}
.add-form select{
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 9px;
  outline: none;
  margin-left: 15px;
}

.add-form .contact-form{
  display: flex;
  margin-top: 15px;
  margin-right: 350PX;
}

.add-form .btn-bar {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 5px;
  margin: 10px 0;
  float: right;
}

.contact-form .btn-dlt{
  position: relative;
  margin-left: 10px;
  padding: .5rem 1rem;
}

.add-form .btn-bar button{
  font-size: 18px;
  font-weight: bold;
  padding: 10px 5px;
  margin-top: 20px;
  margin-left: 10px;
  width: 170px;
}

.add-form label{
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.add-form .required::after {
  content: "*";
  color: red;
}
.err{
  color: red;
  margin: 40px 0;
  text-align: center;
}
