.container {
  position: relative;
  width: 450px;
  margin: 100px auto 0;
  padding: 10px 20px;
  display: block;
  background: white;
}

.item-list {
  padding: .5rem 1rem;
  margin-bottom: 1px;
  margin-right: 200px;
  width: 400px;
  background: white;
}

.item-list li {
  display: flex;
  margin: 5px 0;
  border: 1px dashed #7f7d7d;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  background: white;
}

.btn-add {
  position: relative;
  width: 100px;
  margin: auto 15px 0;
  padding: 10px;
}

.btn-dlt {
  position: relative;
  margin-right: 20px;
  padding: .5rem 1rem;
}
.sts{
  position: relative;
  padding: .5rem 1rem;
  margin-left: 35px;
}


.main{
  margin: auto 170px 0;
}
.sub{
  width: 100%;
}


