<div class="container">
  <h1 class="main back">Projects</h1>
  <ul class="item-list">
    <li (click)="selectProject(item)" *ngFor="let item of projects;">
      <button class="btn-dlt" (click)="deleteProject(+item.id)">X</button>
      <h1 class="sub back">{{item.title}}</h1>
      <span class="back">{{item.status}}</span>
    </li>
  </ul>
  <button routerLink="/projects-add" class="btn-add" >Add</button>
</div>
