
<div class="back add-form">
  <h1 class="back">{{project.title}}</h1>
  <h3 *ngIf="error" class="back err">Update failed , please check your input</h3>
  <form [formGroup]="projectForm" class="back">
    <input type="text" name="title" placeholder="Title" formControlName="title"
           (focusout)="checkError(projectForm.get('title'),$event)"
           (focus)="cleanErrors(projectForm.get('title'),$event)">
    <i class="required back"></i>
    <select name="status" class="back" formControlName="status"
            (focusout)="checkError(projectForm.get('status'),$event)"
            (focus)="cleanErrors(projectForm.get('status'),$event)">
      <option value="" disabled selected>Select project status</option>
      <option>
        DONE
      </option>
      <option>
        PROCESS
      </option>
      <option>
        REJECTED
      </option>
    </select>
    <i class="required back"></i>

    <div *ngFor="let contact of project.contacts; index as index" class="back">
      <form formGroupName="{{contactFormNamePrefix + index}}" class="back contact-form">
        <input type="text" name="contact" formControlName="contact"
               (focusout)="checkError(projectForm.get(contactFormNamePrefix + index),$event)"
               (focus)="cleanErrors(projectForm.get(contactFormNamePrefix + index),$event)">
        <i class="required back"></i>
        <input type="text" name="email" formControlName="email"
               (focusout)="checkError(projectForm.get(contactFormNamePrefix + index),$event)"
               (focus)="cleanErrors(projectForm.get(contactFormNamePrefix + index),$event)">
        <i class="required back"></i>
        <input type="text" name="phone" formControlName="phone"
               (focusout)="checkError(projectForm.get(contactFormNamePrefix + index),$event)"
               (focus)="cleanErrors(projectForm.get(contactFormNamePrefix + index),$event)">
        <button class="btn-dlt" (click)="removeContactForm(index)">X</button>
      </form>
    </div>

    <div class="btn-bar back">
      <button class="btn-add" (click)="addContactForm()">Add contact</button>
      <button class="btn-add" (click)="onSubmit()">Update</button>
      <button class="btn-dlt" routerLink="/">Cancel</button>
    </div>
  </form>

</div>
