@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); /* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Roboto', sans-serif;
  background: #64acf3;
  color: white;
  text-shadow: 1px 0 #0055ff;
  margin: 0;
  padding: 0;
}

button{
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}
.back {
  background: white;
  color: #64acf3;
}

a{
  text-decoration: none;
}
.btn-add{
  background: #57d457;
}
.btn-dlt{
  background: #fd5c5c;
}
.btn-add:active {
  box-shadow: 2px 2px 12px rgb(17, 250, 0);
}
.btn-dlt:active {
  box-shadow: 2px 2px 12px rgb(250, 0, 21);
}

.asterisk::-webkit-input-placeholder {
  color:    #f00;
}
.asterisk:-moz-placeholder {
  color:    #f00;
  opacity:  1;
}
.asterisk::-moz-placeholder {
  color:    #f00;
  opacity:  1;
}
.asterisk:-ms-input-placeholder {
  color:    #f00;
}
